<h1>Chi tiết sản phẩm</h1>
<form *ngIf="productForm" [formGroup]="productForm" >
  <table>
    <tr>
      <td>Mã sản phẩm: </td>
      <td><input type="number" formControlName="id" readonly></td>
    </tr>
    <tr>
      <td>Tên sản phẩm: </td>
      <td><input type="text" formControlName="title" readonly></td>
    </tr>
    <tr>
      <td>Giá sản phẩm: </td>
      <td><input type="number" formControlName="price" readonly></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm: </td>
      <td><input type="text" formControlName="description" readonly></td>
    </tr>
    <tr>
      <td></td>
      <td> <button class="btn btn-outline-primary" routerLink="/product/list">Trở lại</button></td>
    </tr>
  </table>
  </form>
